/* ***************header*************** */

@media (min-width: 768px) and (max-width: 1200px) {
  .top-header {
    flex-direction: row;
    justify-content: space-between;
  }
  .search-btn form,
  .phone,.sidebar-home {
    display: none;
  }
  .call-button{
    background-color: red;
    color: white;
    border: none;
  }
}

@media (max-width: 767px) {
  .top-header {
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }
  .call-button{
    background-color: red;
    color: white;
    border: none;
    font-size: 12px;
  }
  .phone,
  .search-btn,.sidebar-home {
    display: none;
  }
  .logo {
    max-width: 133px;
  }
}

/* hamburger */

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }

  .main-nav ul {
    display: none;
    flex-direction: column;
    background: #005eb8;
    padding: 10px 0;
    width: 100%;
  }

  .main-nav ul.active {
    display: flex;
  }

  .main-nav ul li {
    padding: 10px;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }

  .main-nav ul li a {
    font-size: 18px;
    color: #fff;
  }
}

/* *********************footer **********************/

@media (max-width: 1024px) {
  .footer-widgets {
    margin: 30px 40px;
    justify-content: space-between;
  }

  .footer-bottom {
    margin: 30px 40px;
    flex-direction: column;
    text-align: center;
  }

  .link {
    margin-top: 10px;
  }
}

@media (max-width: 768px) {
  .footer-widgets {
    flex-direction: column;
    align-items: center;
    margin: 30px 20px;
  }

  .footer-column {
    width: 100%;
    max-width: 400px;
    text-align: center;
    padding: 10px 0;
  }

  .logo-contact img {
    width: 150px;
  }

  .footer-bottom {
    margin: 30px 20px;
  }
}

@media (max-width: 480px) {
  .footer-container {
    padding: 10px 0;
  }

  .footer-column {
    padding: 5px 0;
  }

  .footer-title {
    font-size: 14px;
  }

  .footer-widget a {
    font-size: 14px;
  }

  .footer-bottom {
    font-size: 12px;
  }

  .link a {
    margin-left: 10px;
    font-size: 12px;
  }
}

/* *********************article-page************************* */
/* all post */
@media screen and (max-width: 990px) {
  .blog-posts,.portfolio-archive {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (min-width: 991px) {
  .blog-posts,.portfolio-archive {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 767px) {
  .blog-posts,.portfolio-archive {
    grid-template-columns: 1fr;
  }
}

/* category menu */
@media (min-width: 1200px) {
  .category-nav {
    justify-content: center;
  }
}

@media (max-width: 1199px) and (min-width: 768px) {
  .category-nav {
    justify-content: flex-start;
    gap: 8px;
    border-radius: 20px;
  }
}

@media (max-width: 767px) {
  .category-nav {
    justify-content: flex-start;
    gap: 5px;
  }

  .category-nav a {
    padding: 8px 15px;
    font-size: 14px;
  }
  .position {
    text-align: justify;
  }
}


/* first post of article page */

@media (max-width: 1200px) {
  .first-post {
    flex-direction: column;
  }

  .article-category {
    width: 100%;
    height: fit-content;
    border-radius: 30px 30px 0 0;
  }

  .article-image {
    width: 100%;
  }

  .article-image img {
    height: fit-content;
    border-radius: 0 0 30px 30px;
  }

  #blog-title {
    font-size: 32px;
    height: fit-content;
  }
}


/* single page sidebar */
@media (max-width: 1100px) {
  .single-img img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  .sidearticle,.sidebar-all {
      display: none;
  }
  .single-post h1 {
    font-size: 30px;
  }
}


/* all page thumbnail and title */
@media (max-width: 768px) {
  .about-us {
    height: 250px;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 20px;
  }
}

@media (max-width: 480px) {
  .about-us {
    height: 180px;
  }
  .about-us h1 {
    font-size: 2rem;
  }
}

/* ******************************frontpage*********************************** */

/*********** home page hero section **************/
@media (max-width: 991px) and (min-width: 768px) {
  .banner {
    flex-direction: column;
    align-items: center;
    text-align: left;
    gap: 30px;
  }

  .hero h1 {
    font-size: 36px;
    /* max-width: 80%; */
  }

  .hero p {
    font-size: 18px;
    /* max-width: 75%; */
    line-height: 24px;
  }

  .hero img {
    max-width: 80%;
    height: auto;
  }
}

@media (max-width: 768px)  {
  .banner {
    flex-direction: column;
  }

  .hero img {
    width: 100%;
    max-width: 400px;
    margin-top: 20px;
  }

  .hero h1 {
    font-size: 32px;
    max-width: 85%;
  }

  .hero p {
    font-size: 16px;
    max-width: 80%;
    margin-top: 20px;
  }
}



/* search section map*/
@media (max-width: 1100px) {
  .search-section {
    position: relative;
    padding: 80px 20px;
    text-align: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
  }

  .search-left {
    max-width: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center;
    text-align: center; 
  }

  .search-section h2,
  .search-section p {
    text-align: center;
    width: 80%;
    margin: 0; 
  }

  .search-box {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    align-items: center; 
  }

  .search-box input {
    width: 70%;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
  }

  .search-box button {
    width: auto;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
  }

  .map-img {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    opacity: 0.5;
  }

  .map-img img {
    width: 300px;
    max-width: 100%;
    filter: blur(2px);
  }
  
}


/* services */
@media (max-width: 1100px) {
  .service-cards {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
  }
  .service-card {
    width: 45%; 
  }
}

@media (max-width: 991px) {
  .service-cards {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center; 
  }
  .service-card {
    width: 30%; 
  }
}

@media (max-width: 767px) {
  .service-cards {
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .service-card {
    width: 100%; 
  }
}
